/* Estilos globales para resetear márgenes, padding y establecer caja de borde */
* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el contenedor de íconos ordenados */
.ordicons {
  background-color: #0a1742;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

/* Estilos para texto animado */
.textoAnimado {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Estilos para la lista de enlaces sociales */
.social-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: -30px;
  justify-content: space-around; /* Centrar los íconos de redes sociales */
  position: absolute;
  top: 60px;
  right: 412px;
}

/* Estilos para cada ícono de redes sociales */
.social-links li {
  width: 40px; /* Ancho de los íconos de redes sociales */
  height: 40px; /* Altura de los íconos de redes sociales */
}

.social-links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7f1a1a;
  height: 100%;
  border-radius: 100%;
  font-size: 40px;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.social-links li a:hover {
  background-color: rgb(3, 102, 167);
  color: rgb(213, 143, 143);
  transform: scale(1.2); /* Aumentar la escala al hacer hover */
}

/* Estilos para mover texto */
.movertesto {
  margin-top: 50px;
  display: flex;
  justify-content: center; 
}

/* Estilos para el contenedor de texto ordenado */
.ordenartesto {
  background-color: #13091e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 10px; 
  margin-bottom: 20px;
}

.ordenartesto h2 {
  margin-bottom: 20px; 
}

/* Estilos para el formulario de contacto */
.contact-form {
  margin-top: 20px;
  max-width: 400px; 
  width: 100%; 
  padding: 20px; 
  background-color: #2b1048;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: auto;
  text-align: center;
}

/* Estilos para los elementos dentro del formulario */
.form-container p {
  margin-bottom: 10px;
}

.form-container input,
.form-container textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #210fe9;
  border-radius: 4px;
  color: #d2b10c;
}

.form-container button {
  padding: 10px;
  width: 100%;
  background-color: #007bff;
  color: #2c1e1e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #12dc2a;
}
