/* Login.module.css */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    border-radius: 20px;
    height: 290px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  
  .input {
    background: transparent;
    color: white;
    border-radius: 10px;
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .button {
    background-color: #1f1f59;
    border-radius: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    filter: brightness(40%);
    transition: filter .25s;
  }
  
  .customAlert {
    position: fixed;
    top: 430px;
    right: 610px;
    width: auto;
    z-index: 1000;
  }
  
  .centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .mover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    border-radius: 20px;
    height: 290px;
    width: 200px;
    background-image: radial-gradient(circle at 50% 120.71%, #a46cdf 0, #60479f 25%, #1f1f59 50%, #00001b 75%, #000000 100%);
    box-shadow: inset 5px 5px 10px 4px #1f1f59;
    margin-left: 200px;
  }
  
  .moving {
    position: absolute;
    top: -20px;
    left: 520px;
  }
  
  .moving2 {
    position: absolute;
    top: 30px;
    right: 420px;
    width: 400px;
  }
  
  .moving3 {
    position: absolute;
    top: 20px;
    right: -260px;
    width: 1100px;
    height: 800px;
  }
  