/* Estilos para los inputs */
.custom-input {
  margin-bottom: 10px; /* Margen inferior */
  margin-left: 340px; /* Margen izquierdo */
  padding: 8px; /* Relleno */
  background-color: rgb(158, 152, 166); /* Color de fondo */
  border: 1px solid #28035b; /* Borde */
  border-radius: 4px; /* Radio de borde */
  width: 50%; /* Ancho */
  display: flex; /* Mostrar como flexbox */
}

/* Estilos para el botón */
.custom-button {
  margin-top: 20px; /* Margen superior */
  margin-left: 630px; /* Margen izquierdo */
  padding: 10px 20px; /* Relleno */
  background-color: #58d619; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Radio de borde */
  cursor: pointer; /* Cursor */
}

.custom-button:hover {
  background-color: #0056b3; /* Hover del botón */
}

/* Estilos para los productos */
.productos-container {
  display: grid; /* Mostrar como grid */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Columnas automáticas */
  gap: 20px; /* Espacio entre elementos */
  text-align: center; /* Alineación de texto */
}

.producto {
  margin-top: 20px; /* Margen superior */
  padding: 10px; /* Relleno */
  border: 1px solid #000000; /* Borde */
  background-color: rgb(15, 3, 68); /* Color de fondo */
  border-radius: 42px; /* Radio de borde */
}

.producto h2 {
  font-size: 1.5rem; /* Tamaño de fuente */
  margin-bottom: 5px; /* Margen inferior */
}

.producto p {
  font-size: 1.2rem; /* Tamaño de fuente */
  margin-bottom: 10px; /* Margen inferior */
}

.producto img {
  width: 150px; /* Ancho de imagen */
  height: 100px; /* Alto de imagen */
  border-radius: 20px; /* Radio de borde */
  margin-bottom: 20px; /* Margen inferior */
}

.producto button {
  margin-top: 5px; /* Margen superior */
  margin-right: 5px; /* Margen derecho */
  padding: 8px 16px; /* Relleno */
  width: 50px; /* Ancho */
  cursor: pointer; /* Cursor */
}

.producto button:hover {
  opacity: 0.8; /* Opacidad al pasar el mouse */
}
