/* Estilos para centrar y organizar elementos en columna con un fondo de gradiente radial */
.moverR {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  border-radius: 20px;
  height: 250px;
  width: 200px;
  background-image: radial-gradient(circle at 50% 120.71%, #a46cdf 0, #60479f 25%, #1f1f59 50%, #00001b 75%, #000000 100%);
}

/* Estilos para centrar elementos vertical y horizontalmente ocupando toda la altura de la ventana */
.movereldi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos para margen, relleno y alineación de elementos */
.movertex {
  margin: 9px;
  margin-top: 20px;
  padding: -12px; /* Relleno negativo (sin efecto) */
  margin-right: -30px;
}

/* Estilos para posición absoluta en la esquina superior derecha */
.movesq {
  position: absolute;
  top: 100px;
  right: 100px;
  height: 640px;
}

/* Estilos para posición absoluta en la esquina superior izquierda */
.movesq2 {
  position: absolute;
  top: 140px;
  left: 120px;
}
