 /* Contenedor de busqueda */
.search-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;  
    margin-left: 550px;
}
 
.search-input {  /* Input de busqueda */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    background-color:rgb(23, 1, 18);
    border-radius: 4px;
    margin-right: 222px; 
    width: 200px; 
    height: 48px;
}

.search-button { /* Botón de búsqueda */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #58d619;  
    color: rgb(95, 3, 75);  
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3; /* Hover del botón de búsqueda */
}
